# Compiled class file
*.class

# Compiled maven files
target/
target

# Log file
*.log
/logs/

# Intellij
.idea
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# allow mvn wrapper
!.mvn
